.home .features {
  justify-content: flex-start!important;
  align-items: center;

  &-list {
    margin-top: 100px;

    @media (max-width: $_max_lg) {
      margin-top: 60px;
    }
  }

  &-item {
    display: flex;
    margin-bottom: 70px;

    @media (max-width: $_max_md) {
      flex-direction: column;
    }
  }

  &-wrapper {
    justify-content: center;
    padding: 120px 15px 540px;
  }

  .section-background {
    background: linear-gradient(-60deg, #88d3ce 0%, #6e45e2 100%);
  }

  &-title {
    @include text(white, 500, 24);
    letter-spacing: -0.67px;

    @media (min-width: $_min_lg) {
      margin-bottom: 25px;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  &-text {
    @include text(#f1f1fb, 400, 16);
    line-height: 28px;
    padding-left: 17px;

    @media (min-width: $_min_md) {
      padding-left: 0;
    }

    &:hover {
      color: white;
    }
  }

  &-content-wrapper {
    max-width: calc(100% - 94px);
    padding-right: 30px;
  }

  &-logo-wrapper {
    @include sizes(64px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin-right: 30px;
  }
}