$light-gray: #9fa4af;
$gray: #4f4f6f;

.home {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.dark {
      .section {
        &-background-sm {
          @media (max-width: $_max_sm) {
            background: linear-gradient(-60deg, #88d3ce 0%, white 100%);
          }
        }

        &-topic {
          color: $light-gray;

          &.left-line::before {
            border-bottom: 1px solid #6e45e2;
          }

          &.right-line::after {
            border-bottom: 1px solid #6e45e2;
          }
        }

        &-title {
          color: $gray;
        }

        &-text {
          color: $light-gray;
        }
      }
    }

    &-background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      @media (max-width: $_max_sm) {
        display: none;
      }

      &-sm {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        @media (max-width: $_max_sm) {
          background: linear-gradient(-60deg, #88d3ce 0%, #6e45e2 100%);;
        }
      }
    }

    &-topic {
      @include text(white, 700, 14);
      letter-spacing: 0.7px;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      &.left-line::before {
        content: '';
        display: block;
        width: 24px;
        border-bottom: 1px solid white;
        margin-right: 15px;
      }

      &.right-line::after {
        content: '';
        display: block;
        width: 24px;
        border-bottom: 1px solid white;
        margin-left: 15px;
      }
    }

    &-title {
      @include text(white, 500, 62);
      letter-spacing: -1.69px;
      margin-top: 15px;
      line-height: 67px;

      @media (max-width: $_max_md) {
        margin-top: 5px;
        font-size: 42px;
        line-height: 47px;
      }

      @media (max-width: $_max_sm) {
        margin: 20px 0;
      }
    }

    &-text {
      @include text(white, 400, 16);
      margin-top: 25px;
      line-height: 28px;

      @media (max-width: $_max_md) {
        margin-top: 10px;
      }

      @media (max-width: $_max_sm) {
        margin-bottom: 30px;
      }
    }

    &-link {
      margin: 0 10px 0 0;

      @media (max-width: $_max_md) {
        margin: 0 0 10px;
      }

      &-wrapper {
        display: flex;

        @media (max-width: $_max-md) {
          flex-direction: column;

        }
      }
    }
  }
}