.home .section-scroll-button {
  @include sizes(64px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 50px;

  &.light {
    background: white;
    box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
  }

  &.dark {
    background: $_violet;
  }
}