.home .why-misocial {

  &-wrapper {
    justify-content: flex-end;
  }

  max-width: 420px;

  @media (max-width: $_max_md) {
    max-width: 300px;
  }

  @media (max-width: $_max_sm) {
    align-items: center;
    max-width: 100%;
    text-align: center;
    padding-top: 100px;
  }
}